.thumbnail{
    height: 170px;
    width: 170px;
    margin-left: 35px;
}
.home-bg{
    background-color: rgb(238, 234, 230);
    margin-top: 60px;
}
.cards{
    margin:auto;
    margin-top: 10px;
    width: 18rem;
    
    text-align: center;
    border: 1px dotted rgb(218, 41, 94);;
}
.card-text{
    color: green;
}
.card-title{
    font-size: 20px;
    font-weight: 600;
}
.addtocart-btn{
    width: 115px;
    margin: auto;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 900;
    color: white;
    background-color: rgb(218, 41, 94)
}
.search{
    padding: 10px;
    width: 230px;
    margin: auto;
    text-align: center;
    
}
.copyright{
    text-align: center;
    font-size: small;
    color: rgb(218, 41, 94);
    text-decoration: none;
}