.user-icon{
    margin-left: 30px;
    height: 35px;
    width: 35px;
    color:  rgb(218, 41, 94);
}
.logo{
    width: 50px;
    height: 50px;
    margin-left: 45px;
}
.cart-icon{
    width: 30px;
    height: 25px;
    
    
}
.cart-badge{
    margin-left: 25px;
    width: 15px;
    height: 15px;
    margin-bottom: -5px;
    padding: 2px;
}
.brand-head{
    color: rgb(218, 41, 94);
    margin-left: 1px;
    font-size: 35px;
    text-decoration: none;
    font-weight: 900;
    font-family:cursive;
}

.mycart-link{
    text-decoration: none;
    margin-left: 50px;
    color:  rgb(218, 41, 94);
    font-weight: 800;
}
.user-info{
    font-weight: 800;
}
.mycart-drop{
    text-decoration: none;

    color:  rgb(218, 41, 94);
    font-weight: 800
}

.logo-div{
    display: flex;
    
    
}
.nav-div{
    display: flex;
    border: 1px solid rgb(218, 41, 94);
    
}

.togglebar{
    display: none;
    width: 70px;
    height: 40px;
    margin-left: auto;
    
}
.user-info{
    margin-left: 15px;
}
.nav-tools{
    margin-top: 350px;
    display:flex;
    margin: auto;
}
.cart-div{
    display: flex;
    flex-direction:column;
    margin-left: auto;
    margin-top: 0px;
}

@media(max-width:767px){
    .cart-div{
        margin-left: 0px;
    }
    
    .togglebar{
        margin-left: auto;
        display: block;
        width: 40px;
    }
  
    .logo-div{
        display: flex;
        
    }
  
.nav-div{
    display: block;
    margin: auto;
}
.nav-tools{
    display: none;
    
}
.nav-div{
    display:flex;
    margin: auto;
}
.nav-tools.is-active{
    display: block;
}

.logo{
   display: none;
}
.brand-head{
    font-size: 25px;
}
.user-icon{
    
    
}
.mycart-link{
    text-decoration: none;
    margin-left: 0px;
    margin-right: auto;
    margin-top: 50px;
    color:  rgb(218, 41, 94);
    font-weight: 800;
    font-size: 25px;
}
   

}